# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.g.dart

# Windows desktop build output
windows/flutter/ephemeral/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.sass-cache/

# System files
.DS_Store
Thumbs.db
